*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img{
    width: 60px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(161, 161, 161);
}

ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}