*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2.5rem;
    height: 8rem;

    position: relative;

}

.logo__menu , .logo{
    width: 4rem;
}
#toggle__menu , .logo__menu{
    display: none;
}

.menu__list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu__link{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

@media (max-width: 768px){
    header{
    flex-direction: row-reverse;

    }
    .menu{
        position: absolute;
        top: 8rem;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        border-radius: 0px 0px 5rem 0px;
        transition: width 1s ease , height 1s ease , opacity 1s ease, border-radius 1s ease ;
    }

    .menu__list{
        background-color: rgba(0, 0, 0, 0.899);
        width: 100%;
        height: 20rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
    }

    .logo__menu{
        display: block;
        cursor: pointer;
    }

    #toggle__menu:checked ~ .menu{
        height: 20rem;
        width: 100%;
        opacity: 1;
        border-radius: 0px 0px 0px 0px;

    }

}
