*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}

ul{
    list-style: none;
}

.receta{
    background-color: rgb(164, 164, 255);
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.receta_1{
    background-color: rgb(255, 154, 154);
}

.receta_2{
    background-color: rgb(178, 255, 154);
}

.receta_3{
    background-color: rgb(154, 215, 255);
}

